.cuerpo{
    background-color: #35363a;
    margin-top: 0%;
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 0%;
}

.menu {
    width:20%;
    position:absolute; 
    padding: 3%;
    font-size:larger;
}

.menu a{
    display: block;
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding: 5%;
}

.menu a:hover {
    color:gray;
    cursor: pointer;
}


.contenido{
    margin:0%;
    padding-left: 20%;
    width: 90%;
    display:block;  
}

.contenido label{
    color: white;
}

.articulo {
    text-align: justify;
    color:white;
    height: 25%;
    padding:4%;
}

.articulo p{
    font-size: large;
}

.articulo li{
    font-size: large;
}

.articulo a{
    font-size: large;
    color: white;
    text-decoration: none;
}

.articulo a:hover{
    color: white;
    text-decoration: underline;
}

.pie{
    position: absolute;
    width: 100%;
    height: 20%;;
    text-align: center;
    background-color:#202124;
    color: white;
    padding: 2%;
}

.pie div{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie p{
    font-size:large;
}

.formulario{
    padding: 5%;
    background-color: white;
    border-radius: 50px;
}

.formulario label{
    color: black;
}

h2{
    font-size:x-large;
}

#boton{
    display: none;
}
#oculto:hover>#boton{
    display: block;
}
