body {
    font-family: sans-serif;
    background-color: #35363a;
    margin-top: 0%;
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 0%;
}

nav {
    width:20%;
    position:absolute;
    display:block; 
    padding:2%; 
    font-size:larger;
}

main{
    margin:0%;
    padding-left: 24%;
    width: 70%;
    display:block;  
}

.articulo {
    text-align: justify;
    color:white;
    height: 25%;
    padding:4%;
}

footer{
    text-align: center;
    background-color:#202124;
    color: white;
    height: 25%;
    padding:3%;
}

p{
    font-size:large;
}

a{
    color: white;
    font-weight: bold;
    text-decoration: none;  
}

a:hover {
    color:gainsboro;
    cursor: pointer;
    text-decoration: underline;
}

h2{
    font-size:x-large;
}

#boton{
    display: none;
}
#oculto:hover>#boton{
    display: block;
}